.chat-getting-started {
  .icon {
    background: center center no-repeat url("../../../assets/images/duck_typing.gif");
    background-size: contain;
  }

  .text {
    text-align: center;
    line-height: normal;
  }
}