.app-container {
  padding: var(--app-space);
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: var(--app-bg-color);
  color: var(--app-text-color);
  gap: var(--app-space);
}

.app-main,
.app-sidebar {
  height: 100%;
}

.app-sidebar {
  background: var(--app-sidebar-color);
  border-radius: var(--app-sidebar-border-radius);
  position: relative;
}

.app-main {
  overflow: hidden;
}
/* #region ============== section menu related ============== */
/* section */
.section-menu {
  padding: var(--app-space);
}

.section-menu ul {
  padding-inline-start: 0px;
  margin-bottom: 3rem;
}

/* title */
.menu-section-title {
  /* margin-bottom: 5px; */
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 7px 0;
}

.menu-section-title h3 {
  margin: 0;
}

.menu-section-title .icon {
  --icon-bound: 14px;
  transition: background-color 0.15s ease-out;
  cursor: pointer;
  padding: 4px;
}

.menu-section-title .icon:hover {
  background-color: var(--app-icon-selected-color);
}

/* item inside of it */
.menu-item {
  display: flex;
  align-items: center;
  gap: 9px;
  list-style: none;
  padding: 5px 10px 5px 24px;
  margin: 5px 0;
  transition: all 0.1s ease-out;
  cursor: pointer;
  border-radius: 5px;
}

.menu-item .icon {
  --icon-url: url('https://cdn.discordapp.com/attachments/1089483298327253075/1136142944273969273/image.jpeg');
}

.menu-item:hover {
  font-weight: bold;
  background-color: var(--app-icon-selected-color);
}

.menu-item .notification-count {
  margin-left: auto;
  padding: 1px 9px;
  border-radius: 8px;
  background: var(--app-notification-color);
}

/* #endregion */

/* #region ============== user info ============== */
.setting-warpper {
  --bottom-padding: 1rem;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1rem var(--bottom-padding) 1rem;
  width: -webkit-fill-available;
  position: absolute;
  bottom: 0;
  background-color: #23232c;
  border-radius: 0 0 var(--app-sidebar-border-radius) var(--app-sidebar-border-radius);
}

.user-name {
  font-weight: bold;
}

.user-status {
  font-size: 14px;
  color: var(--app-user-status-color);
}

.setting-warpper .user-avatar {
  --icon-bound: 2rem;
  --icon-url: url('https://media.discordapp.net/attachments/1089483298327253075/1136148197572616304/image.jpeg?width=453&height=453');
  border-radius: 50%;
}

.setting {
  margin-left: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.setting:hover {
  background-color: var(--app-icon-selected-color);
}

.setting-warpper .icon-gear {
  --icon-bound: 1.25rem;
}
/* #endregion */