:root {
  --join-page-avatar-icon-bound: 6rem;
}

.join-page {
  background-color: var(--app-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s ease-out;
  z-index: 10;
}

.join-page.has-been-joined {
  opacity: 0;
}

.create-user-warpper {
  padding: 2rem;
  border-radius: 10px;
  background: var(--app-sidebar-color);
}

.create-user-warpper h1 {
  margin-block-start: 0;
}

.create-user-warpper input {
  font-size: 16px;
  width: 100%;
}

.create-user-warpper label {
  /* display: flex; */
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
}

.create-user-warpper .user-avatar {
  --icon-bound: var(--join-page-avatar-icon-bound);
  margin-left: auto;
  border-radius: 50%;
  background-color: #18171d;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-user-warpper .user-avatar > * {
  /* position: absolute; */
}

.create-user-warpper section {
  display: flex;
  align-items: center;
}

.create-user-warpper section > div {
  flex: 1 0 0;
}

.create-user-warpper button {
  margin-left: auto;
  /* margin-right: 2rem; */
}

.create-user-warpper button {
  padding: 9px 25px;
  background: #23232c;
  border-radius: 10px;
}

.create-user-warpper button:disabled,
.create-user-warpper button:hover {
  background: #23232c8e;
  color: rgb(221, 221, 221);
}



.user-avatar-warpper {
  margin-bottom: var(--join-page-avatar-icon-bound);
}

.user-avatar-color-bg {
  --avatar-bg: #111111;
  background: var(--avatar-bg);
  height: 7rem;
  position: relative;
}

.user-avatar.showcase {
  position: absolute;
  top: 42%;
  margin-left: 10px;
  cursor: pointer;
}

.user-avatar.showcase > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* white-space: w; */
  font-size: 12px;
}

.user-avatar.showcase span {
  opacity: 0;
}

.user-avatar.showcase:hover span {
  opacity: 1;
}


.join-button-warpper {
  margin-top: 2rem;
  width: 100%;
}

.join-button-warpper button {
  float: right;
}