@import url('./main/msg/MessageStuff.scss');

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat .message-wrapper {
  padding: 10px;
}

.chat-view .chat-conversation-list {
  width: 100%;
  .search-result {
    height: 100%;
  }
}