$chat-messages-padding: 10px;

.chat-msg-input-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: $chat-messages-padding;
  padding-top: 0;
  &, .msg-input-wrapper, .stuff-on-top {
    width: 100%
  }

  .msg-input-wrapper, .stuff-on-top > * {
    border-radius: 8px;
  }

  .msg-input-wrapper {
    padding: 6px 5px;
    textarea {
      // reseting hope-ui's default <textarea /> min-height,
      // which it set to 80px 
      min-height: 0;
      line-height: 17px;
      resize: none;
      padding: 7px 12px;
    }
  }
}