$quickActionsBarWidth: 50px;

.app .app-inside {
  z-index: 1;
  display: grid;
  grid-template-columns: $quickActionsBarWidth 1fr;
  height: 100%;
  & > * {
    display: flex;
    flex-direction: column;
  }

  & > aside {
    background-color: var(--hope-colors-neutral5);
    padding: 10px 0;
    justify-content: center;
  }
}

.app .quick-action {
  flex-grow: 1;
  
  gap: 10px;
  &:last-child {
    align-items: flex-end;
  }
  
  .quick-action-item {
    width: $quickActionsBarWidth;
    height: $quickActionsBarWidth;

    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: var(--hope-colors-neutral8);
    }
  }
}

.app .app-content {
  flex-grow: 1;
}