@import "./ChatMessages.module.scss";

.chat-msg-input-wrapper {
  flex-direction: row;
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: $chat-messages-padding;
  padding-top: 0;
  //       this   ^^^^^^^^^^^^^^^^^^^^^^
  // come from "./ChatMessages.module.scss"
  &, .msg-input-wrapper {
    width: calc(100% - $chat-messages-padding - 158px);
    // I guess this value out :)                ^^^^^
  }

  .msg-input-wrapper {
    border-radius: 8px;
    padding: 6px 5px;
    textarea {
      // reseting hope-ui's default <textarea /> min-height,
      // which it set to 80px 
      min-height: 0;
      line-height: 17px;
      resize: none;
      padding: 7px 12px;
    }
  }
}

.more-options-wrapper {
  height: 100%;
  .more-options {
    border-radius: 9px;
    // overriding hope-ui's button styles to show the icon
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}