.dark-theme {
  --app-bg-color: #131418;
  /* app sidebar */
  --app-first-sidebar-color: #292934;
  --app-second-sidebar-color: #1c1c24;
  --app-sidebar-description-color: #f4f4f4;
  --app-notification-color: #ff5555;
  --app-icon-selected-color: #ffffff23;
  --app-user-status-color: #d3d3d3;
  --app-button-color: #23232c;
  --app-button-hover-color: #23232c8e;
  --app-link-color: #38bbff;
  --app-user-status-bg-color: #23232c;

  /*  */
  --chat-message-selected-color: #434352;
  --chat-message-input-color: #18171d;
  --chat-scroll-bar-color: #23232c;
  --placeholder-color: #cfcfcf;
}

.dark-theme-text {
  --app-text-color: white;
}

.light-theme {
  --app-bg-color: #ffffff;
  --app-first-sidebar-color: #ededed;
  --app-second-sidebar-color: #f1f1f1;
  --app-sidebar-description-color: #5e5e5e;
  --app-text-color: black;
  --app-user-status-bg-color: #e3e3e3;
  --app-notification-color: #ff5555;
  --app-icon-selected-color: #d9d9d975;
  --app-user-status-color: #383838;
  --app-button-color: #23232c;
  --app-button-hover-color: #23232c8e;
  --app-link-color: #38bbff;
  /*  */
  --chat-message-selected-color: #dadada;
  --chat-message-input-color: #e1e1e1;
  --chat-scroll-bar-color: #23232c;
  --placeholder-color: #2e2e2e;
}

.light-theme-text {
  --app-text-color: black;
}