@import "../chat/ChatMessages.module.scss";
$avatar-bound: 35px;

.user-message {
  .avatar {
    width: $avatar-bound;
    height: $avatar-bound;
  }

  .follow-up-message {
    padding-left: $chat-messages-padding + $avatar-bound;
  }
}