$userAvatarBound: 2.7rem;

.message {
  display: flex;
  gap: 15px;
  padding: 2px 2px 0;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: var(--hope-colors-neutral6);
  }

  &:hover .message-options {
    opacity: 1;
  }
}

.message .message-options {
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;

  .wrapper {
    position: absolute;
    right: 0;
    top: -18px;
    margin-right: 0.35rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    border: 1px solid var(--hope-colors-neutral8);
  }
  
  $optionButtonBound: 1.8rem;
  .option-button {
    width: $optionButtonBound;
    height: $optionButtonBound;
    background-color: var(--hope-colors-neutral6);
    
    transition: background-color 0.1s ease-in-out;
    &:hover {
      background-color: var(--hope-colors-neutral8);
    }
  }
}

.message.user {
  display: block;
  &.follow-up {
    display: flex;
  }

  .message-content {
    line-height: normal;
  }

  .username {
    margin-bottom: 3px;
  }

  .user-avatar {
    width: $userAvatarBound;
    height: $userAvatarBound;
  }

  .time {
    color: var(--hope-colors-neutral11);
    font-size: small;
  }

  --gap-between-avatar-and-content: 15px;
  &.follow-up .message-content {
    padding-left: calc(var(--gap-between-avatar-and-content) + $userAvatarBound);
  }
}