$chat-messages-padding: 10px;
$avatar-bound: 35px;

.user-message {
  .avatar {
    width: $avatar-bound;
    height: $avatar-bound;
  }

  .date {
    display: none;
    font-size: 11px;
  }

  .date-time {
    background: center center no-repeat var(--icon-url);
    &.date-moon {
      --icon-url: url("../../../assets/images/moon.svg");
    }
  }

  .content {
    word-break: break-all;
    line-height: normal;
    padding-top: 2px;
    padding-bottom: 2px;
    width: fit-content;
    border-radius: 8px;
    p {
      white-space: break-spaces;
      font-size: 16px;
    }
  }
}

.user-message.follow-up {
  .avatar, .username {
    display: none;
  }

  .date {
    display: block;
    visibility: hidden;
  }

  .message-content {
    font-size: 16px;
    display: flex;
  }
}

.user-message.reply {
  padding-top: 15px;
}

[data-label=message]:hover .date {
  visibility: visible;
}

.message-reply {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 8px;
    background-color: var(--hope-colors-neutral3);
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }

  .content{
    padding: 2px 7px;
  }
}
