.message {
  --author-icon-bound: 2.7rem;
  --message-content-gap: 15px;
  --left-right-margin: 5px;
  padding: 1px var(--left-right-margin);
  border: 1px dashed transparent;
  position: relative;
}

.message-content-container {
  display: flex;
  gap: var(--message-content-gap);
}

.message:hover {
  border-color: var(--chat-message-selected-color);
}

.message .warpper {
  width: 100%;
}

.message .author.icon {
  --icon-bound: var(--author-icon-bound);
  --icon-url: url(https://cdn.discordapp.com/attachments/1089483298327253075/1136664201453109268/image.jpeg);
  border-radius: 50%;
}

.message .author-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.message .content {
  user-select: text;
  line-break: anywhere;
  width: 100%;
}

.message:last-child {
  margin-bottom: 1.25rem;
}

.message.follow-up {
  padding-left: calc(
    var(--author-icon-bound) + 
    var(--message-content-gap) + 
    var(--left-right-margin)
  );
}

/* ====================================================================================== */

.message-reply {
  --reply-message-font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--reply-message-font-size);
  padding: 5px 7px;
  margin: 3px 0;
  background: #1d1e249d;
  color: #d3d3d3;
  border-radius: 7px;
}

.message-reply .author.icon {
  --icon-bound: 25px;
}

.message-reply .author-name {
  font-size: var(--reply-message-font-size);
}

.message-reply .content {
  opacity: 0.95;
}

.chat-content.reply-user-shown {
  padding-bottom: 1.5rem;
}

/* ====================================================================================== */

pre {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  background: black;
  white-space: normal;
}

.inline-code {
  display: inline;
  padding: 2px 5px;
}

.code-block {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #3a3a3a;
}

.reply-user-warpper .code-block,
.message-reply .code-block {
  padding: 5px;
  white-space: nowrap;
}

blockquote {
  margin: 0;
  padding-left: 2rem;
  border-left: 3px solid white;
}

p {
  margin: 0;
  /* white-space: pre-wrap; */
  /* display: flex; */
}


/* ====================================================================================== */

.reply-user-warpper {
  background-color: var(--app-sidebar-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 7px 15px;
  width: calc(100% - 15px);
  color: #d3d3d3;
  display: none;
}

.reply-user-warpper.show {
  display: block;
}

.reply-user-warpper > div {
  display: flex;
  gap: 2rem;
}

.reply-user-warpper .reply-author {
  font-weight: bold;
  color: var(--app-text-color);
}

.reply-user-warpper .reply-msg-content {
  display: inline-block;
  text-overflow: ellipsis;
  width: 70%;
  white-space: nowrap;
}

/* ====================================================================================== */

.edit-message-container {
  position: absolute;
  margin-left: auto;
  position: absolute;
  right: 0;
  bottom: 55%;
}

.edit-message-icons {
  box-shadow: 1px 1px black, 1px 1px black;
  background: var(--app-sidebar-color);
  margin-right: 10px;
  display: none;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.edit-message-icons .edit-button {
  padding: 8px;
}

.edit-message-icons .icon {
  --icon-bound: 15px;
}

.message .edit-message-icons {
  display: none;
}

.message:hover .edit-message-icons {
  display: flex;
}