@font-face {
  font-family: ChocoCooky;
  src: url('./font/Choco cooky Regular.ttf');
}

*, *::before, *::after {
  font-family: ChocoCooky;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#duck {
  width: 100%;
  height: 100%;
  position: fixed;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

::-webkit-scrollbar, input, textarea {
  will-change: transform;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: var(--hope-colors-neutral3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--hope-colors-neutral4);
}